<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ckfcsteam.replikapp">

    <!-- Permission d'utilisation demandé à l'utilisateur -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <!-- Paramètres de l'application -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <!-- Activité au lancement de l'app -->
        <activity android:name="com.ckfcsteam.spaceinvaders.activities.Score2Activity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:configChanges="orientation|screenSize" />
        <activity android:name="com.ckfcsteam.spaceinvaders.activities.Over2Activity" />
        <activity android:name="com.ckfcsteam.spaceinvaders.activities.Menu2Activity" />
        <activity android:name=".activities.ResetPasswordActivity" /> <!-- activity android:name=".activities.ResetPasswordActivity" / -->
        <activity android:name=".fragments.BibliFragment" />
        <activity
            android:name=".activities.RegisterActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".activities.SplashActivity"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Activités principales de l'application, avec les paramètres d'orientation par défaut -->
        <activity
            android:name=".activities.LoginActivity"
            android:configChanges="orientation|screenSize" />



        <!-- Pubs -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-6113200648741812~6124065544" />

        <!--activity
            android:name=".activities.LoginActivity"
            android:configChanges="orientation|screenSize" /-->
        <activity
            android:name=".activities.SuperBouleMenuActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/noTheme"/>

        <activity android:name=".activities.SuperBouleActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:configChanges="orientation|screenSize" />
        <activity android:name="com.ckfcsteam.spaceinvaders.activities.GameActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:configChanges="orientation|screenSize"/>
    </application>

</manifest>